---
layout: home
home: true
---
<div id="home">

<h2>We are currently under construction and plan to launch soon.</h2>
<h3>Here's what to expect:</h3>
<ul>
  <li>Insights from industry web designers and developers</li>
  <li>Projects</li>
  <li>And much more...</li>
</ul>

  <!-- <ul class="post-list">
      {% for post in site.posts %}
      {% assign words = post.content | number_of_words %}
      {% if words <= 90 %}
      {% assign reading-time = "1m" %}
      {% else %}
      {% assign reading-time = words | divided_by:180 | append:"m" %}
      {% endif %}
      <li class="list-item">
        <span class="post-meta">{{ reading-time }} read ● {{ post.date | date: '%-d %B %Y' }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{% if post.link %}<span class="icon-call-made"></span>{% endif %}{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->
</div>
