---
layout: default
---

{% assign author = site.authors[page.author] %}
<div class="post">
	{{ content }}
  <div class="meta">
    <img id="avatar" src="{{ author.avatar }}">
    <span class="author"><a href="http://twitter.com/{{ author.twitter }}">{{ author.display_name }}</a> </span>
  </div>
</div>

<div id="post-nav" class="clearfix">
  {% if page.previous.url %}
  <a rel="previous" id="previous_link" href="{{ site.baseurl }}{{page.previous.url}}">{{ site.baseurl }}{{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
  <a rel="next" id="next_link" href="{{ site.baseurl }}{{page.next.url}}">{{ site.baseurl }}{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
